include: '/vars.yml'

deploy:
  stage: deploy
  only:
    - master
  image: registry.gitlab.com/mwse/docker/heroku-cli
  script:
    - heroku git:remote -a $HEROKU_TARGET
    - git push heroku master
