include: '/vars.yml'

build:
  stage: build
  image: docker:stable
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build . -t $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_SLUG
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:$CI_COMMIT_REF_SLUG

deploy:
  stage: deploy
  only:
    - prod
  image: registry.gitlab.com/mwse/docker/heroku-cli
  script:
    - heroku git:remote -a $HEROKU_TARGET
    - git push heroku master
